h3 {
  color:rgb(11, 11, 95);
  
}
h2
{
    color:rgb(11, 11, 95);
}
.design{
   
     background-color :rgb(255, 186, 122);
     width: 45% ;
     margin-left: 52%;
}
#NavigateBar
{
    background-color: rgb(149,207,13);
    padding : 15px
}
.Margin
{
    margin-left: 52%;
    margin-top: 0%;
}

.column {
    float: left;
    margin-top: 5%;
    margin-left: 5%;

  }
  
  .main
  {
    float: middle;
  

  }
  .right {
    float: right;
    
  }
  
  div.disabled {
    overflow-x: hidden; 
    overflow-y: scroll; 
}